/nbproject/private/
/build/
/dist/
nbproject/private/private.xml
nbproject/private/private.properties
nbproject/private/private.xml
api-bridgingradiologi/
/KhanzaHMSServiceMobileJKNERM - Copy/build/
/KhanzaHMSServiceMobileJKNERM - Copy/nbproject/private/
/KhanzaHMSServiceUltah/build/
/KhanzaHMSServiceUltah/nbproject/private/
/KhanzaHMSServiceUltah/dist/
/ServiceUltah/build/
/ServiceUltah/dist/
/ServiceUltah/nbproject/private/
