/nbproject/private/
/build/
/dist/
nbproject/private/private.xml
nbproject/private/private.properties
nbproject/private/private.xml
api-bridgingradiologi/
/KhanzaHMSServiceMobileJKNERM - Copy/build/
/KhanzaHMSServiceMobileJKNERM - Copy/nbproject/private/
/KhanzaHMSServiceUltah/build/
/KhanzaHMSServiceUltah/nbproject/private/
/KhanzaHMSServiceUltah/dist/
/ServiceUltah/build/
/ServiceUltah/dist/
/ServiceUltah/nbproject/private/
/ServiceAbsensi/build/
/ServiceAbsensi/nbproject/private/
/ServiceAbsensi/dist/
/KhanzaHMSServiceSatuSehat/dist/
/KhanzaHMSServiceSatuSehat - Copy/build/
/KhanzaHMSServiceSatuSehat - Copy/dist/
/KhanzaHMSServiceSatuSehat - Copy/nbproject/private/
/KhanzaHMSServiceSatuSehat_manual/build/
/KhanzaHMSServiceSatuSehat_manual/dist/
/KhanzaHMSServiceSatuSehat_manual/nbproject/private/
