.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* selalu 5 kotak per baris */
    gap: 20px;
}

/* aktif hanya jika card >= 10 */
.grid.scrollable {
    height: calc(100vh - 220px);
    overflow-y: hidden;
    /* sembunyikan scrollbar manual */
    padding-right: 10px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 15px;
}

.card h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}

.kelas {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.info td {
    padding: 2px 6px;
}

.info td:first-child {
    font-weight: 500;
}

.info td.kosong {
    color: red;
    font-weight: bold;
}